 body {
     margin: 0 auto;
 }

 img {
     width: 100%;
 }

 .dark-primary {
     color: #14305d;
 }

 .primary {
     color: #42a5f5 !important;
 }

 .bg_primary {
     background-color: #42a5f5;
 }

 .bg-light-primary {
     background-color: #42a5f53b !important;
 }

 .ls-none {
     list-style: none;
 }

 .as-none {
     text-decoration: none;
 }

 .br-0 {
     border-radius: 0;
 }

 .br-100 {
     border-radius: 100% !important;
 }

 .b-0 {
     border: 0px;
 }
 .b-1{
    border: #8e7e7e solid 1px;
 }

 .b-btm{
    border-bottom: 1px solid #8e7e7e;
 }

 span {
     font-size: 13px;
     /* font-weight: bold; */
 }

 /* ===top header=== */
 .top-header .navbar .nav-link,
 .mid-header .navbar .nav-link {
     color: #14305d !important;
 }

 .top-header {
     background-color: #42a5f53b;
     font-size: 11px;
     font-weight: bolder;
     font-family: inherit;
     /* color: #14305d !important; */
 }


 /* ===top header end=== */
 /* =====mid header==== */
 .mid-header .active {
     color: #42a5f5 !important;
 }

 .mid-header {
     font-size: 11px;
     font-weight: bolder;
     font-family: inherit;
     color: #14305d;
     overflow: hidden;
 }

 .mid-header-left {
     padding-top: 20px;
 }

 .mid-header-left .nav-link {
     color: #14305d;
 }

 .navbar-nav .nav-link.active,
 .navbar-nav .show>.nav-link {
     color: rgba(0, 0, 0, .9);
     margin-top: -20px;
     padding: 28px 15px 34px 15px;
     background: #42a5f53b;
 }

 .navbar-nav .user-icon i {
     padding: 5px 8px;
     border-radius: 100%;
     background-color: #42a5f53b;
 }

 .navbar-nav .lock-icon i {
     padding: 5px 8px;
 }

 .mid-header .navbar-nav .zero-icon a {
     padding: 5px 9px;
     border-radius: 100%;
     background-color: #42a5f5;
     margin-bottom: 2px;
     margin-top: 9px;
 }

 .mid-header {
     margin-bottom: 0% !important;
 }

 /* =====mid header==== */

 /* ===bottom-header=== */
 .bottom-header {
     font-size: 11px;
     background-color: #42a5f5;
     color: white;
     position: sticky !important;

 }

 .bottom-header .nav-link {
     color: #fff !important;
 }

 .bottom-header .header-btn b {
     font-size: 13px;
 }

 /* ===header  media==== */

 @media screen and (max-width: 1200px) {
     .bottom-header .header-btn {
         display: none;
     }

     .top-header .top-header-left {
         text-align: center !important;
         justify-content: center;
     }

     .top-header .nav-link {
         display: none !important;
     }
 }

 @media screen and (max-width: 1200px) {

     .mid-header {
         display: none;
     }

     .bottom-header {
         padding: 0;
         font-size: 15px;
         font-weight: bolder;
     }

     .bottom-header .navbar .navbar-nav .nav-link .fa-bars {
         display: none;
     }
 }

 /* ===header  media end==== */
 /* ===bottom-header end=== */
 /* ===hero slider=== */
 .hero-slider .container-fluid {
     overflow: hidden;
 }

 .hero-slider .carousel .slider-bg-img1 {
     background-image: url(../img/slider/slider_bg01.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     height: 400px;
     display: flex;
     align-items: center;


 }

 .hero-slider .carousel .slider-bg-img2 {
     background-image: url(../img/slider/slider_bg02.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     width: 100%;
     height: 400px;
     display: flex;
     align-items: center;
 }

 .hero-slider .carousel .slider-bg-img3 {
     background-image: url(../img/slider/slider_bg03.jpg);
     background-size: cover;
     background-repeat: no-repeat;
       background-position: center;
     width: 100%;
     height: 400px;
     display: flex;
     align-items: center;
 }

 .hero-slider .carousel .slider-bg-img4 {
     background-image: url(../img/slider/slider_bg04.jpg);
     background-size: cover;
     background-repeat: no-repeat;
       background-position: center;
     width: 100%;
     height: 400px;
     display: flex;
     align-items: center;
 }

 .hero-slider .carousel .carousel-cell {
     width: 100%;
     height: 400px;
 }

 /* cell number */
 .carousel-cell:before {
     display: block;
 }

 .flickity-button {
     background: hsl(0deg 0% 88% / 43%) !important;
 }

 .hero-slider .flickity-page-dots {
     display: none;
 }


 .hero-slider .content button a {
     border-radius: 0;
     margin-top: 28%;
     border: 0px;
 }

 /* ===hero slider end=== */
 /* ===hero card=== */

 .hero-card .flickity-page-dots {
     display: none;
 }

 .hero-card .box h6 {
     font-size: 15px;
 }

 .hero-card .box h5 {
     font-size: 10px;
 }

 .hero-card .box .btn {
     border-radius: 0;
 }

 .hero-card .box .content {
     top: 60px;
     left: 40px;
     /* bottom: 142px; */
 }

 /* ===hero card end=== */
 /* ====protein card=== */
 .protein-card-p1 img {
     padding: 10px;
 }

 .protein-card-p1 h6 {
     font-size: 9px;
     padding-left: 28px;
     font-size: 10px;
     color: #9e9e9e;
 }

 .protein-cards-2 img {
     width: 100%;
     height: 250px;
     object-fit: cover;
 }

 .protein-cards-2 h6 {
     font-size: 9px;
     /* padding-left: 28px; */
     font-size: 10px;
     color: #9e9e9e;
 }

 .protein-cards-2 h4 span {
     float: right;
     padding-right: 2px;
 }

 .protein-cards-2 h3 {
     font-size: 12px;
     color: #9e9e9e;
 }

 .protein-cards-2 h5 {
     padding-top: 5px;
     padding-bottom: 5px;
     font-weight: bolder;
     font-size: 16px;
     color: #14305d;
 }

 .protein-cards-2 h4 {
     padding-top: 7px;
     font-weight: bolder;
     font-size: 16px;
     color: #14305d;
 }

 .protein-card-p1 .flickity-page-dots {
     display: none;
 }

 @media screen and (max-width:1200px) {
     .protein .header {
         justify-content: center !important;
     }

     .hero-slider .carousel .carousel-cell .content {
         padding: 100px 21px;
     }

     /* .hero-card .container .content {
         top: 50px;
         left: 40px;
         bottom: 142px;
     } */
 }

 /* ====protein card end=== */
 /* ====shop now==== */
 .shop-now .bg-img {
     background-image: url('../img/bg/discount_bg.jpg');
     background-size: cover;
     background-attachment: fixed;
     background-repeat: no-repeat;
     background-position: right;
     /* margin-top: 100px; */
     /* height: 200px; */
 }

 .shop-now .content {
     padding: 116px 0px;
 }
 @media (max-width:1200px){
    
    .shop-now .content {
        text-align: center !important;
    }
    .shop-now .content h5{
        padding: 0 !important;
    }
 }

 .shop-now .content span {
     color: #9e9e9e;
     font-size: 12px;
 }

 .shop-now .content h5 {
     font-weight: bolder;
     font-size: 30px;
     color: #14305d !important;
     font-size: 21px;
     padding-right: 58%;
 }

 .shop-now {
     margin-top: 50px;
 }

 /* ====shop now end==== */
 /* ===tests=== */
 .tests-bg-img {
     background-image: url('../img/bg/customer_feedback_bg.jpg');
     background-size: cover;
     background-repeat: no-repeat;
     padding: 60px 0px;
     margin: 60px 0px;
 }

 .tests .bb {
     border-bottom: #42a5f5 solid 2px;
 }

 .tests p,
 .test .span {
     color: #8e7e7e;
     font-size: 10px;
     font-weight: 500;
 }

 .tests .bg-img1 {
     background-image: url('../img/products/deal_week_img01.jpg');
 }

 .tests .bg-img2 {
     background-image: url('../img/products/deal_week_img02.jpg');
 }

 .tests .bg-img3 {
     background-image: url('../img/products/deal_week_img03.jpg');
     height: 320px;
     background-repeat: no-repeat;
     background-position: center;
     background-size: cover;
 }

 .bg-img4 {
     background-image: url('../img/products/deal_week_img04.jpg');
 }

 .bg-img5 {
     background-image: url('../img/products/deal_week_img05.jpg');
 }

 .tests .padding {
     padding: 50px;
 }

 .tests .content .bg-img1,
 .bg-img2,
 .bg-img4,
 .bg-img5 {
     background-size: cover;
     background-repeat: no-repeat;
     height: 300px;
     background-position: left;
     border: 20px solid #fff;
 }

 .tests .row .content {
    padding: 0px 100px;
     border: 20px solid #fff;
     background-color: #f2fafd;
 }
 @media (max-width:1200px){
    
    .tests .row .content{
    padding: 50px !important;
    }
 }

 /* ===tests end=== */
 /* ====our clients==== */
 .clients-bg-img {
     height: 400px;
     /* max-width: 100%; */
     background-image: url('../img/bg/testimonial_bg.jpg');
 }

 .clients {
     background-color: #bbdefb;
     margin-top: 5%;
 }

 .clients header {
     text-align: center;
     padding-top: 5%;
     padding-bottom: 5%;
 }

 .clients .content .box {
     padding: 30px 0px;
 }

 .clients .content p {
     color: #8e7e7e;
     font-size: 12px;
     padding: 0px 48px;
 }

 /* cell number */
 .carousel-cell:before {
     display: block;
 }

 .clients .carousel-cell {
     padding: 12px 0px;
     margin-left: 20px;
 }

 .clients .carousel {
     padding: 50px;
     text-align: center;
 }

 /* ====our clients end==== */
 /* ===blog=== */
 .blog .card-content {
     padding: 23px;
     padding-bottom: 0;
 }

 .blog p {
     font-size: 12px;
     font-weight: 500;
 }

 .blog .news {
     color: #42a5f5;
     padding-right: 9px;
     border-right: #42a5f5 1px solid;

 }

 .blog .card-content span {
     font-size: 14px;
     font-weight: 500;
 }

 .blog .container {
     padding: 69px 9px;
 }

 /* ===blog end=== */
 /* ===help=== */
 .help .content {
     padding: 50px 60px;
 }

 .help .icon {
     font-size: 30px;
     background-color: #bbdefb;
     margin-bottom: 51px;
     border-radius: 100%;
     padding: 18px 23px;
     color: #42a5f5;
 }

 .help p {
     font-size: 12px;
     font-weight: 500;
     color: #8e7e7e;
     padding-right: 16px;
 }

 @media screen and (max-width:1200px) {
     .help .col-md-3 {
         text-align: center;
         padding-top: 30px !important;
         margin: 0 !important;
     }

     .help .col-md {
         margin: 0 !important;
         text-align: center;
         padding-left: 40px !important;
     }

     .help .content {
         padding: 0 !important;
     }
 }

 /* ===help end=== */
 /* ===footer=== */
 /* ===top footer=== */
 .top-footer .content {
     padding: 62px 0px;
     border-bottom: #42a5f5 1px solid;
 }

 .top-footer p {
     font-size: 12px;
     padding: 3px;
     margin: 0;
     font-weight: 500;
     color: #8e7e7e;
 }

 /* ===top footer end=== */
 /* ===mid footer=== */
 .mid-footer h6 {
     padding: 20px 0px;
     font-size: 12px;
 }

 .mid-footer h5 {
     font-size: 20px;
 }

 .mid-footer p {
     font-size: 13px;
     font-weight: 500;
     color: #8e7e7e;
 }

 /* ===mid footer end=== */
 /* ===bottom footer=== */
 .bottom-footer {
     background-color: #bbdefb;
     text-align: center;
     justify-content: center;
 }

 /* .bottom-footer .row {
     padding: 12px 100px;
 } */

 /* ===bottom footer end=== */
 /* ===footer end=== */
 /* ===shop section start=== */
 .shop .container-fluid {
     overflow: hidden;
 }

 /* cell number */
 .carousel-cell:before {
     display: block;
     text-align: center;
     line-height: 200px;
     font-size: 80px;
     color: white;
 }


 .shop .carousel .carousel-cell .content {
     padding: 150px;
 }

 .shop-hero .share a:hover {
     background-color: #42a5f5 !important;
     border-radius: 100%;
     color: #fff !important;
     border: 2px solid #42a5f5;
 }

 .shop-hero .share a {
     border: 2px solid #8e7e7e;
     border-radius: 100%;
     color: #8e7e7e !important;
 }
 .shop-hero .sku i , .catogry i{
     color: #8e7e7e !important;
 }
 .shop-hero .sku i:hover , .catogry i:hover{
     color: #42a5f5 !important;
 }
 .shop-hero .shop-sidebar-list li{
     list-style: none;
     padding-left: 0%;
     color: #000;
     padding-bottom: 2px;
     /* content: "\f1ce"; */
 }
 .shop-hero .brand-list li{
    list-style: none;
 }
 .shop-hero .brand-list li span:hover{
    color: #42a5f5 !important;
 }
 .shop-hero button:hover{
    color: #fff !important;
    background-color: #42a5f5 !important;

 }
 .shop-hero .price{
   border-bottom: 1px solid #8e7e7e;

 }
/* ===shop add=== */
.shop-adds .nav .active{
    padding-bottom: 15px;
    border-bottom: #4154f1 3px solid;
    color: #012970;
    font-weight:bolder;
}
.shop-adds .nav .nav-links{
    padding-left: 20px;
    color: #012970;
    font-weight: bolder;
}
/* ===shop add end=== */
 /* ===shop section start end=== */ 